* {
  box-sizing: border-box;
}
body {
  background-color: pink;
  padding: 10px;
  font-family: sans-serif;
}

.exch {
  border-radius: 8px;
  background-color: white;
  text-align: center;
  margin: auto;
  width: 400px;
  padding: 10px;
}
.input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
select {
  padding: 5px;
  width: 49%;
  border-radius: 5px;
}
select + select {
  margin-left: 2%;
}
.btn{
    width: 100%;
    margin-top: 10px;
    color: white;
    background-color: rgb(129, 95, 221);
    border: none;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
}
.result{
    font-weight: 700;
}